<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center" style="border:1px solid black; font-family:verdana;">
      <h1>Colorful World 이메일 인증 안내</h1><br>
      <p th:text="'안녕하세요, ' + ${email} + ' 고객님
      회원가입을 위해 이메일 인증을 진행합니다.
      아래 발급된 이메일 인증 코드를 회원가입 창에서 직접 입력하여 인증을 완료해주세요.'">
      </p><br>

      <hr/>
      <h3>
        <b>인증 코드       </b>
        <b sytle="color:blue" th:text=${code}></b>
      </h3>
      <hr/>
    </div>

</body>
</html>